$normal-color: #a8a878;
$normal-accent-color: #b4b290;

$fire-color: #f08030;
$fire-accent-color: #f2925a;

$water-color: #6890f0;
$water-accent-color: #80a6f0;

$electric-color: #f8d030;
$electric-accent-color: #f8d95a;

$grass-color: #78c850;
$grass-accent-color: #8ccc6a;

$ice-color: #98d8d8;
$ice-accent-color: #a8e0e0;

$fighting-color: #c03028;
$fighting-accent-color: #d2584a;

$poison-color: #a040a0;
$poison-accent-color: #b25cb2;

$ground-color: #e0c068;
$ground-accent-color: #e8d084;

$flying-color: #a890f0;
$flying-accent-color: #b8a6f8;

$psychic-color: #f85888;
$psychic-accent-color: #f87098;

$bug-color: #a8b820;
$bug-accent-color: #b4c038;

$rock-color: #b8a038;
$rock-accent-color: #c4b05a;

$ghost-color: #705898;
$ghost-accent-color: #7c6cac;

$dragon-color: #7038f8;
$dragon-accent-color: #7c4df8;

$dark-color: #705848;
$dark-accent-color: #7c685a;

$steel-color: #b8b8d0;
$steel-accent-color: #c4c4e0;

$fairy-color: #ee99ac;
$fairy-accent-color: #f0aebd;
